#
# APP
#

APP_NAME="gran-hono"
APP_ENV="local"

#
# DATABASE
#

DB_MS_CRONOGRAMA_HOST="localhost:5432"
DB_MS_CRONOGRAMA_DATABASE="postgres"
DB_MS_CRONOGRAMA_USERNAME="postgres"
DB_MS_CRONOGRAMA_PASSWORD="mypassword"


#
# CACHE
#

CACHE_MS_CRONOGRAMA_HOST="localhost"
CACHE_MS_CRONOGRAMA_PORT="6379"


#
# STORAGE
#

STORAGE_MS_CRONOGRAMA_CONSTRUCAO_REGION="sa-east-1"
STORAGE_MS_CRONOGRAMA_CONSTRUCAO_BUCKET="test"
STORAGE_MS_CRONOGRAMA_CONSTRUCAO_ENDPOINT="http://localhost:4566"
STORAGE_MS_CRONOGRAMA_CONSTRUCAO_ACCESS_KEY=""
STORAGE_MS_CRONOGRAMA_CONSTRUCAO_SECRET_KEY=""